<div class="panel panel-default">
  	<div class="panel-body">
  		<div class="row">
  			<div class="col-sm-6">
  				<span>EMPRESA</span>
  				<select class="form-control">
  					<option>Seleccione...</option>
  					<option>ANDRADE UNIVERSIDAD SA DE CV</option>
  				</select>
  			</div>
  			<div class="col-sm-6">
  				<span>SUCURSAL</span>
  				<select class="form-control">
  					<option>Seleccione...</option>
  					<option>CUATITLA</option>
  					<option>PEDREGAL</option>
  					<option>UNIVERSIDAD</option>
  				</select>
  			</div>
  		</div>

  		<div class="row">
  			<div class="col-sm-12">
  				<span>VIN</span>
  				<input type="text" name="" class="form-control">
  			</div>
  		</div>
  	</div>
  	<div class="panel-footer">
  		<div class="row">
  			<div class="col-xs-12">
  				<button class="btn btn-success pull-right" ng-click="generateLayout();">Generar Layout</button>
  			</div>
  		</div>
  	</div>
</div>